In [1]:
import pandas as pd

data = pd.read_csv('../datasets/2.-Urban-Environment/air-quality-nov-2017.csv')

data.head()

,Station,Air Quality,Longitude,Latitude,O3 Hour,O3 Quality,O3 Value,NO2 Hour,NO2 Quality,NO2 Value,PM10 Hour,PM10 Quality,PM10 Value,Generated,Date Time
0,Barcelona - Sants,Good,2.1331,41.3788,NaN,NaN,NaN,0h,Good,84.0,NaN,NaN,NaN,1/11/2018 0:00,1541027104
1,Barcelona - Eixample,Moderate,2.1538,41.3853,0h,Good,1.0,0h,Moderate,113.0,0h,Good,36.0,1/11/2018 0:00,1541027104
2,Barcelona - Gràcia,Good,2.1534,41.3987,0h,Good,10.0,0h,Good,73.0,NaN,NaN,NaN,1/11/2018 0:00,1541027104
3,Barcelona - Ciutadella,Good,2.1874,41.3864,0h,Good,2.0,0h,Good,86.0,NaN,NaN,NaN,1/11/2018 0:00,1541027104
4,Barcelona - Vall Hebron,Good,2.1480,41.4261,0h,Good,7.0,0h,Good,69.0,NaN,NaN,NaN,1/11/2018 0:00,1541027104

In [4]:
data.tail()

,Station,Air Quality,Longitude,Latitude,O3 Hour,O3 Quality,O3 Value,NO2 Hour,NO2 Quality,NO2 Value,PM10 Hour,PM10 Quality,PM10 Value,Generated,Date Time
5739,Barcelona - Ciutadella,Good,2.1874,41.3864,22h,Good,10.0,22h,Good,57.0,NaN,NaN,NaN,30/11/2018 23:00,1543615502
5740,Barcelona - Vall Hebron,Good,2.1480,41.4261,22h,Good,32.0,22h,Good,31.0,22h,Good,21.0,30/11/2018 23:00,1543615502
5741,Barcelona - Palau Reial,Good,2.1151,41.3875,22h,Good,40.0,22h,Good,20.0,22h,Good,15.0,30/11/2018 23:00,1543615502
5742,Barcelona - Poblenou,Good,2.2045,41.4039,NaN,NaN,NaN,22h,Good,70.0,22h,Good,25.0,30/11/2018 23:00,1543615502
5743,Barcelona - Observ Fabra,Good,2.1239,41.4183,22h,Good,64.0,22h,Good,21.0,22h,Good,12.0,30/11/2018 23:00,1543615502

In [9]:
data.columns

Index(['Station', 'Air Quality', 'Longitude', 'Latitude', 'O3 Hour',
       'O3 Quality', 'O3 Value', 'NO2 Hour', 'NO2 Quality', 'NO2 Value',
       'PM10 Hour', 'PM10 Quality', 'PM10 Value', 'Generated', 'Date Time'],
      dtype='object')

In [12]:
my_data=data[["Station", "O3 Hour","O3 Quality", "O3 Value"]]

In [13]:
my_data

                       Station O3 Hour O3 Quality  O3 Value
0            Barcelona - Sants     NaN        NaN       NaN
1         Barcelona - Eixample      0h       Good       1.0
2           Barcelona - Gràcia      0h       Good      10.0
3       Barcelona - Ciutadella      0h       Good       2.0
4      Barcelona - Vall Hebron      0h       Good       7.0
...                        ...     ...        ...       ...
5739    Barcelona - Ciutadella     22h       Good      10.0
5740   Barcelona - Vall Hebron     22h       Good      32.0
5741   Barcelona - Palau Reial     22h       Good      40.0
5742      Barcelona - Poblenou     NaN        NaN       NaN
5743  Barcelona - Observ Fabra     22h       Good      64.0

[5744 rows x 4 columns]

In [15]:
data["O3 Value"].mean()

34.082906608144356

In [16]:
data["O3 Value"].min()

1.0

In [17]:
data["O3 Value"].max()

100.0

In [44]:
my_data = data[['Station', 'O3 Hour', 'O3 Quality', 'O3 Value']].copy()
my_data.columns = ['station', 'o3_hour', 'o3_quality', 'o3_value']

In [19]:
o3_df = data[['Station', 'Air Quality', 'Longitude', 'Latitude', 'O3 Hour', 'O3 Quality', 'O3 Value', 'Generated', 'Date Time']].copy()
o3_df.columns = ['station', 'air_quality', 'longitude', 'latitude', 'o3_hour', 'o3_quality', 'o3_value', 'generated', 'date_time']

In [20]:
o3_df.groupby('station').o3_value.agg(['min', 'max', 'mean', 'median'])

                           min    max       mean  median
station
Barcelona - Ciutadella     1.0   85.0  25.128388    22.0
Barcelona - Eixample       1.0   61.0  17.038760    14.0
Barcelona - Gràcia         1.0   69.0  26.675466    26.0
Barcelona - Observ Fabra  16.0  100.0  65.359084    66.0
Barcelona - Palau Reial    1.0   64.0  32.021398    35.0
Barcelona - Poblenou       NaN    NaN        NaN     NaN
Barcelona - Sants          NaN    NaN        NaN     NaN
Barcelona - Vall Hebron    1.0   82.0  36.367089    40.0

In [32]:
o3_df["o3_value"].describe()

count    4101.000000
mean       34.082907
std        22.960687
min         1.000000
25%        14.000000
50%        34.000000
75%        52.000000
max       100.000000
Name: o3_value, dtype: float64

In [33]:
o3_df["o3_value"].value_counts()

2.0      258
1.0      125
3.0      124
41.0      77
47.0      77
        ...
88.0       1
89.0       1
100.0      1
92.0       1
99.0       1
Name: o3_value, Length: 94, dtype: int64

In [45]:
my_data.groupby(["station","o3_value"]).count()

                                  o3_hour  o3_quality
station                 o3_value
Barcelona - Ciutadella  1.0             9           9
                        2.0            95          95
                        3.0            33          33
                        4.0            14          14
                        5.0            15          15
...                                   ...         ...
Barcelona - Vall Hebron 76.0            1           1
                        78.0            1           1
                        79.0            1           1
                        81.0            1           1
                        82.0            1           1

[408 rows x 2 columns]

In [47]:
nulls_o3 = o3_df[o3_df['o3_value'].isna() == True].index.tolist()
o3_clean = o3_df.drop(nulls_o3)
o3_clean.reset_index(drop=True,inplace=True)
o3_clean

,station,air_quality,longitude,latitude,o3_hour,o3_quality,o3_value,generated,date_time
0,Barcelona - Eixample,Moderate,2.1538,41.3853,0h,Good,1.0,1/11/2018 0:00,1541027104
1,Barcelona - Gràcia,Good,2.1534,41.3987,0h,Good,10.0,1/11/2018 0:00,1541027104
2,Barcelona - Ciutadella,Good,2.1874,41.3864,0h,Good,2.0,1/11/2018 0:00,1541027104
3,Barcelona - Vall Hebron,Good,2.1480,41.4261,0h,Good,7.0,1/11/2018 0:00,1541027104
4,Barcelona - Palau Reial,Good,2.1151,41.3875,23h,Good,11.0,1/11/2018 0:00,1541027104
...,...,...,...,...,...,...,...,...,...
4096,Barcelona - Gràcia,Good,2.1534,41.3987,22h,Good,8.0,30/11/2018 23:00,1543615502
4097,Barcelona - Ciutadella,Good,2.1874,41.3864,22h,Good,10.0,30/11/2018 23:00,1543615502
4098,Barcelona - Vall Hebron,Good,2.1480,41.4261,22h,Good,32.0,30/11/2018 23:00,1543615502
4099,Barcelona - Palau Reial,Good,2.1151,41.3875,22h,Good,40.0,30/11/2018 23:00,1543615502
4100,Barcelona - Observ Fabra,Good,2.1239,41.4183,22h,Good,64.0,30/11/2018 23:00,1543615502

In [62]:
o3_clean.groupby('station').o3_value.agg(['min', 'max', 'mean', 'median']).round(2)

                           min    max   mean  median
station
Barcelona - Ciutadella     1.0   85.0  25.13    22.0
Barcelona - Eixample       1.0   61.0  17.04    14.0
Barcelona - Gràcia         1.0   69.0  26.68    26.0
Barcelona - Observ Fabra  16.0  100.0  65.36    66.0
Barcelona - Palau Reial    1.0   64.0  32.02    35.0
Barcelona - Vall Hebron    1.0   82.0  36.37    40.0

In [61]:
o3_clean.groupby('o3_hour')['o3_value'].agg(['min','max','mean','median']).round(2)

         min    max   mean  median
o3_hour
0h       1.0   89.0  27.66    23.0
10h      1.0   83.0  28.50    24.0
11h      1.0   84.0  32.30    31.0
12h      1.0   81.0  39.97    41.0
13h      2.0   81.0  45.00    46.0
14h      2.0   83.0  44.59    46.0
15h      2.0   85.0  44.29    46.0
16h      2.0   81.0  44.45    46.0
17h      1.0   80.0  42.01    42.0
18h      1.0   85.0  34.02    34.5
19h      1.0   90.0  28.47    24.0
1h       1.0   83.0  30.49    30.0
20h      1.0   99.0  27.12    21.0
21h      1.0  100.0  27.95    22.0
22h      1.0   91.0  30.17    25.0
23h      1.0   92.0  33.36    31.0
2h       1.0   84.0  33.43    34.0
3h       1.0   85.0  35.27    35.0
4h       1.0   86.0  36.64    38.5
5h       1.0   88.0  36.97    37.5
6h       1.0   90.0  35.95    34.0
7h       1.0   86.0  31.59    32.0
8h       1.0   87.0  27.24    20.0
9h       1.0   84.0  24.96    17.0

In [57]:
display(o3_clean.groupby(['station','o3_hour'])['o3_value'].agg(['min','max','mean','median']).round(2))

                                 min   max   mean  median
station                 o3_hour
Barcelona - Ciutadella  0h       1.0  71.0  16.55     9.5
                        10h      2.0  47.0  14.80    12.5
                        11h      3.0  53.0  23.93    25.0
                        12h      2.0  57.0  32.83    33.5
                        13h      7.0  65.0  37.92    42.0
...                              ...   ...    ...     ...
Barcelona - Vall Hebron 5h       4.0  70.0  41.20    47.5
                        6h       5.0  66.0  37.97    41.0
                        7h       1.0  65.0  30.28    32.0
                        8h       2.0  61.0  27.13    29.5
                        9h       3.0  54.0  28.31    34.0

[144 rows x 4 columns]

In [64]:
monday = o3_clean[o3_clean['generated'].str.contains('05/11/2018|12/11/2018|19/11/2018|26/11/2018')]
tuesday = o3_clean[o3_clean['generated'].str.contains('06/11/2018|13/11/2018|20/11/2018|27/11/2018')]
wednesday = o3_clean[o3_clean['generated'].str.contains('07/11/2018|14/11/2018|21/11/2018|28/11/2018')]
thursday = o3_clean[o3_clean['generated'].str.contains('01/11/2018|08/11/2018|15/11/2018|22/11/2018|29/11/2018')]
friday = o3_clean[o3_clean['generated'].str.contains('02/11/2018|09/11/2018|16/11/2018|23/11/2018|30/11/2018')]
saturday = o3_clean[o3_clean['generated'].str.contains('03/11/2018|10/11/2018|17/11/2018|24/11/2018')]
sunday = o3_clean[o3_clean['generated'].str.contains('04/11/2018|11/11/2018|18/11/2018|25/11/2018')]

In [80]:
mon_mean = monday['o3_value'].mean()
tue_mean = tuesday['o3_value'].mean()
wed_mean = wednesday['o3_value'].mean()
thu_mean = thursday['o3_value'].mean()
fri_mean = friday['o3_value'].mean()
sat_mean = saturday['o3_value'].mean()
sun_mean = sunday['o3_value'].mean()

In [81]:
weekdays = [['Monday', mon_mean], ['Tuesday', tue_mean], ['Wednesday', wed_mean], ['Thursday', thu_mean], ['Friday', fri_mean], ['Saturday', sat_mean], ['Sunday', sun_mean]]

weekdf = pd.DataFrame(weekdays,columns=['Weekdays','O3 Mean']).set_index('Weekdays').round(2)
weekdf

           O3 Mean
Weekdays
Monday       36.84
Tuesday      35.02
Wednesday    32.72
Thursday     28.68
Friday       22.39
Saturday     40.27
Sunday       44.10

In [83]:
week_1 = o3_clean[o3_clean['generated'].str.contains('01/11/2018|02/11/2018|03/11/2018|04/11/2018|05/11/2018|06/11/2018|07/11/2018')]
week_2 = o3_clean[o3_clean['generated'].str.contains('08/11/2018|09/11/2018|10/11/2018|11/11/2018|12/11/2018|13/11/2018|14/11/2018')]
week_3 = o3_clean[o3_clean['generated'].str.contains('15/11/2018|16/11/2018|17/11/2018|18/11/2018|19/11/2018|20/11/2018|21/11/2018')]
week_4 = o3_clean[o3_clean['generated'].str.contains('22/11/2018|23/11/2018|24/11/2018|25/11/2018|26/11/2018|27/11/2018|28/11/2018')]

In [85]:
w1_mean = week_1['o3_value'].mean()
w2_mean = week_2['o3_value'].mean()
w3_mean = week_3['o3_value'].mean()
w4_mean = week_4['o3_value'].mean()

In [86]:
weeks = [['Week 1', w1_mean], ['Week 2', w2_mean], ['Week 3', w3_mean], ['Week 4', w4_mean]]

weeksdf = pd.DataFrame(weeks,columns=['Weeks','O3 Mean']).set_index('Weeks')
weeksdf

          O3 Mean
Weeks
Week 1        NaN
Week 2  40.074605
Week 3  38.747604
Week 4  30.050568

In [71]:
max_values = my_data.nlargest(columns='o3_value', n = 50)

max_values

                       station o3_hour o3_quality  o3_value
5543  Barcelona - Observ Fabra     21h       Good     100.0
5535  Barcelona - Observ Fabra     20h       Good      99.0
959   Barcelona - Observ Fabra     23h       Good      92.0
5551  Barcelona - Observ Fabra     22h       Good      91.0
5559  Barcelona - Observ Fabra     23h       Good      91.0
2159  Barcelona - Observ Fabra      6h       Good      90.0
3823  Barcelona - Observ Fabra     22h       Good      90.0
5527  Barcelona - Observ Fabra     19h       Good      90.0
5567  Barcelona - Observ Fabra      0h       Good      89.0
5607  Barcelona - Observ Fabra      5h       Good      88.0
15    Barcelona - Observ Fabra      0h       Good      87.0
847   Barcelona - Observ Fabra      8h       Good      87.0
2151  Barcelona - Observ Fabra      5h       Good      87.0
2175  Barcelona - Observ Fabra      8h       Good      87.0
2351  Barcelona - Observ Fabra      6h       Good      87.0
4271  Barcelona - Observ Fabra      6h       Good      87.0
751   Barcelona - Observ Fabra     20h       Good      86.0
2335  Barcelona - Observ Fabra      4h       Good      86.0
2343  Barcelona - Observ Fabra      5h       Good      86.0
2359  Barcelona - Observ Fabra      7h       Good      86.0
2367  Barcelona - Observ Fabra      8h       Good      86.0
4263  Barcelona - Observ Fabra      5h       Good      86.0
915     Barcelona - Ciutadella     18h       Good      85.0
1583  Barcelona - Observ Fabra      5h       Good      85.0
2327  Barcelona - Observ Fabra      3h       Good      85.0
2615  Barcelona - Observ Fabra     15h       Good      85.0
2735  Barcelona - Observ Fabra      6h       Good      85.0
679   Barcelona - Observ Fabra     11h       Good      84.0
2231  Barcelona - Observ Fabra     15h       Good      84.0
2319  Barcelona - Observ Fabra      2h       Good      84.0
2375  Barcelona - Observ Fabra      9h       Good      84.0
5599  Barcelona - Observ Fabra      4h       Good      84.0
5639  Barcelona - Observ Fabra      9h       Good      84.0
31    Barcelona - Observ Fabra      2h       Good      83.0
39    Barcelona - Observ Fabra      3h       Good      83.0
671   Barcelona - Observ Fabra     10h       Good      83.0
919   Barcelona - Observ Fabra     18h       Good      83.0
2223  Barcelona - Observ Fabra     14h       Good      83.0
4255  Barcelona - Observ Fabra      4h       Good      83.0
5031  Barcelona - Observ Fabra      5h       Good      83.0
5455  Barcelona - Observ Fabra     10h       Good      83.0
5575  Barcelona - Observ Fabra      1h       Good      83.0
615   Barcelona - Observ Fabra      3h       Good      82.0
623   Barcelona - Observ Fabra      4h       Good      82.0
916    Barcelona - Vall Hebron     18h       Good      82.0
2167  Barcelona - Observ Fabra      7h       Good      82.0
4247  Barcelona - Observ Fabra      3h       Good      82.0
5583  Barcelona - Observ Fabra      2h       Good      82.0
5647  Barcelona - Observ Fabra     10h       Good      82.0
47    Barcelona - Observ Fabra      4h       Good      81.0